#backup/temp files
*~
*.goutputstream*
*.Trash*
*.trash*

#databases
*.db
*.sqlite

#compiled junk
*.pyc

#certs, etc
*.pem
*.key
*.cert
*.crt

#/shrug
server/repoman/build/
server/repoman/dist/
server/repoman/repoman.egg-info/
server/repoman/repoman.egg-info/*
repoman-client/dist/
repoman-client/repoman-client.egg-info/
repoman-client/repoman-client.egg-info/*
repoman-client/build/
*.old
*~
