#backup/temp files
*~
*.goutputstream*
*.Trash*
*.trash*

#databases
*.db
*.sqlite

#compiled junk
*.pyc

#certs, etc
*.pem
*.key
*.cert
*.crt

#/shurg
server/repoman/build/
server/repoman/dist/
server/repoman/repoman.egg-info/
server/repoman/repoman.egg-info/*
